.facebook{
    border:none;
    border-top: 4px solid #188ff3;
}
.twitter{
    border:none;
    border-top: 4px solid #1da2ef;
}
.instagram.dark{
 border:8px solid #0000;
  border-radius:10px;
  background:
linear-gradient(#252b43,#252b43) padding-box,
linear-gradient(to right, #fab86c, #e4688a) border-box;
border-width: 4px;
border-style: solid;
border-left: none;
border-bottom: none;
border-right: none;
}
.instagram.light{
 border:8px solid #0000;
  border-radius:10px;
  background:
linear-gradient(#f0f3fa,#f0f3fa) padding-box,
linear-gradient(to right, #fab86c, #e4688a) border-box;
border-width: 4px;
border-style: solid;
border-left: none;
border-bottom: none;
border-right: none;
}
.youtube{
    border:none;
    border-top: 4px solid #c4042d;
}
.text-red{
    color:#c84a55
}
.text-green{
    color:#60c7ac
}